# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# ==========================
# Virtual Environment
# ==========================
venv/
env/
ENV/
.venv/

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.swp

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Python Build
# ==========================
build/
dist/
*.egg-info/
.eggs/

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

deberta-v2-xlarge/
